.realestate-section {
  width: 100%;
  background: linear-gradient(90deg, #2460F5 0%, #3B1DDA 100%);
  border: 1px solid #C2C2C2;
  display: flex;
  justify-content: center;
  padding: 60px 20px 0;
  box-sizing: border-box;
  overflow: hidden;
}

.content-wrapper {
  max-width: 1240px;
  width: 100%;
  text-align: center;
  color: #ffffff;
}

.real-title {
  font-family: DM Sans;
    font-weight: 500;
    font-size: 44px;
    line-height: 130%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #ffffff;
  margin-bottom: 10px;
}

/* ====== SUBTITLE ====== */
.real-subtitle {
  max-width: 880px;
  margin: 0 auto 35px;
  font-family: DM Sans;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
    color: #ffffff;
}

/* ====== FEATURES ====== */
.features {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-family: DM Sans;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    vertical-align: middle;
    text-transform: capitalize;
  color: #ffffff;
}
.feature-item svg {
  font-size: 21px;
  color: #ffffff;
}

/* ====== DASHBOARD ====== */
.dashboard-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.dashboard-wrapper img {
  width: 100%;
  max-width: 780px;
  border-radius: 3px;
  background: #ffffff;
  box-shadow: 0 40px 120px rgba(0, 0, 0, 0.35);
}

/* ====== BOTTOM FADE ====== */
/* .dashboard-wrapper::after {
  content: "";
  position: absolute;
  bottom: -90px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 180px;
  background: linear-gradient(to top, #FFFFFF, transparent);
  backdrop-filter: blur(18.600000381469727px);
  opacity: 0.7;
} */

/* =================== RESPONSIVE =================== */

@media (max-width: 1024px) {

    .realestate-section {
  padding: 40px 10px 0;
}
  .real-title {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .real-title {
    font-size: 32px;
  }

  .real-subtitle {
  margin: 0 auto 20px;
}

  .features {
    gap: 20px;
  margin-bottom: 30px;
  }

  .real-subtitle {
    font-size: 15px;
  }
}

@media (max-width: 640px) {
    .feature-item {
    flex: 0 0 calc(50% - 20px); 
  }
}

@media (max-width: 400px) {
  .real-title {
    font-size: 26px;
    line-height: 1.3;
  }
   .features {
    gap: 10px;
  margin-bottom: 18px;
  }

  .feature-item {
    flex: 0 0 calc(100% - 20px); 
  }

  .real-subtitle {
    font-size: 14px;
  }

  .dashboard-wrapper img {
    width: 100%;
  }
}
