.invest-section {
  width: 100%;
  padding: 80px 10px 80px;
  background: #ffffff;
  font-family: "DM Sans", sans-serif;
  position: relative;
}

/* TOP LABEL */
.invest-top-label {
  font-family: DM Sans;
font-weight: 700;
font-size: 24px;
line-height: 100%;
text-align: center;
vertical-align: middle;
text-transform: uppercase;
  color: #3334E3;
  margin-bottom: 18px;
}

/* HEADING */
.invest-heading {
  font-family: DM Sans;
    font-weight: 500;
    font-size: 44px;
    line-height: 140%;
    text-align: center;
    vertical-align: middle;
  color: #323232;
  max-width: 780px;
  margin: 10px auto 50px;
}

.invest-layout {
  position: relative;
  max-width: 1280px;
  margin: auto;
  height: 520px;
}

/* FLOAT BLUE BOX */
.invest-float-box {
  position: absolute;
  top: 13%;
  left: 20%;
  background: linear-gradient(90deg, #2460F5 0%, #3B1DDA 100%);
  color: #ffffff;
  padding: 18px 25px;
  border-radius: 12px;
  font-family: Inter;
font-weight: 400;
font-size: 18px;
line-height: 160%;
border: none;
z-index: 5;
}

/* LEFT BOTTOM TEXT */
.invest-left-text {
  position: absolute;
  left: 0;
  bottom: 5%;
  max-width: 313px;
}

.invest-left-text h4 {
  font-family: DM Sans;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: #151515;
  margin-bottom: 8px;
}

.invest-left-text p {
  font-family: DM Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
  color: #414141;
}

/* CENTER IMAGE */
.invest-image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5%;
  width: 386px;
  border-radius: 45px;
}

.invest-image img {
  width: 100%;
  display: block;
  border-radius: 45px;
}

/* BUTTON ON IMAGE */
.invest-now-btn {
  position: absolute;
  right: -110px;
  bottom: 33%;
  background: linear-gradient(90deg, #2460F5 0%, #3B1DDA 100%);
  color: #ffffff;
  border: none;
  padding: 10px 18px;
  border-radius: 28px;
  font-family: DM Sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  box-shadow: 0 8px 22px rgba(59, 76, 255, 0.4);
}

/* RIGHT TEXT */
.invest-right-text {
  position: absolute;
  right: 0;
  top: 5%;
  max-width: 325px;
}

.invest-right-text h4 {
  font-family: DM Sans;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
  margin-bottom: 8px;
  color: #151515;
}

.invest-right-text p {
  font-family: DM Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
  color: #414141;
}

/* ================= RESPONSIVE (STACK ONLY) ================= */

@media (max-width: 1179px) {
    .invest-float-box {
        top: 13%;
        left: 14%;
    }


    .invest-right-text {
  position: absolute;
  right: 0;
  top: 5%;
  max-width: 250px;
}

.invest-left-text {
  position: absolute;
  left: 0;
  bottom: 5%;
  max-width: 240px;
}
}

@media (max-width: 991px) {
     .invest-float-box {
        top: 13%;
        left: 8%;
    }


    .invest-right-text {
  position: absolute;
  right: 0;
  top: 5%;
  max-width: 220px;
}

.invest-left-text {
  position: absolute;
  left: 0;
  bottom: 5%;
  max-width: 210px;
}

.invest-left-text h4 {
    font-size: 16px;
}

.invest-left-text p {
    font-size: 14px;
}

.invest-right-text h4 {
    font-size: 16px;
}

.invest-right-text p {
    font-size: 14px;
}

}


@media (max-width: 846px) {
     .invest-float-box {
        top: 13%;
        left: 2%;
    }

    .invest-image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
  width: 330px;
  border-radius: 45px;
}


    .invest-right-text {
  position: absolute;
  right: 0;
  top: 5%;
  max-width: 190px;
}

.invest-left-text {
  position: absolute;
  left: 0;
  bottom: 5%;
  max-width: 190px;
}

.invest-left-text h4 {
    font-size: 16px;
}

.invest-left-text p {
    font-size: 13px;
}

.invest-right-text h4 {
    font-size: 16px;
}

.invest-right-text p {
    font-size: 13px;
}

}

@media (max-width: 736px) {
  .invest-layout {
    height: auto;
    display: flex;
     flex-direction: column; 
    align-items: center;
    gap: 20px;
  }

  .invest-float-box,
  .invest-left-text,
  .invest-right-text,
  .invest-image {
    position: static;
    transform: none;
    text-align: center;
  }

   .invest-right-text {
  max-width: 90%;
}

.invest-left-text {
  max-width: 90%;
}

.invest-left-text h4 {
    font-size: 18px;
}

.invest-left-text p {
    font-size: 14px;
}

.invest-right-text h4 {
    font-size: 18px;
}

.invest-right-text p {
    font-size: 14px;
}

  .invest-now-btn {
    right: 8%;
  }
}

@media (max-width: 480px) {
  .invest-heading {
    font-size: 28px;
  }

  .invest-image {
    width: 240px;
  }

  .invest-now-btn {
    right: 0%;
    font-size: 14px;
  }
}
