.faq-section {
  width: 100%;
  padding: 60px 20px;
  background: #ffffff;
  font-family: "DM Sans", sans-serif;
}

.faq-title {
  font-family: DM Sans;
    font-weight: 500;
    font-size: 44px;
    line-height: 130%;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
  margin-bottom: 50px;
  color: #000;
}

/* Container */
.faq-container {
  max-width: 1240px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Item */
.faq-item {
  display: flex;
  background: #ffffff;
  border-radius: 16px;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0px 4px 4px 0px #00000040;
  min-height: 135px;
}

/* Blue left bar */
.faq-left-bar {
  width: 11px;
  background: #3334E3;
}

/* Content */
.faq-content {
  padding: 18px 22px;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column; 
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question h4 {
  font-family: DM Sans;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    text-transform: capitalize;
  color: #121212;
}

.faq-icon svg {
  font-size: 14px;
  font-family: 400;
  color: #939AA4;
  transition: transform 0.3s ease;
}

.faq-item.active .faq-icon svg {
  transform: rotate(0deg);
}


/* Answer */
.faq-answer {
  margin-top: 10px;
  font-family: DM Sans;
font-weight: 400;
font-size: 18px;
line-height: 160%;
  color: #939AA4;
  max-width: 1036px;

}

/* Active state */
.faq-item.active .faq-left-bar {
  background: #3b4cff;
}

@media (max-width: 1024px) {
    .faq-section {
        width: 100%;
        padding: 50px 10px;
    }

    .faq-item {
        min-height: auto;
    }
}

/* Responsive */
@media (max-width: 600px) {
  .faq-title {
    font-size: 28px;
  }

  .faq-question h4 {
    font-size: 16px;
  }

  .faq-answer {
    font-size: 16px;
  }
}
